# Gradle files
.gradle/
build/
!gradle-wrapper.jar

# Java files
*.class

# IDEA files
*.iml
.idea/
out/

# Fabric Loom specific
run/
logs/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.log
*.tmp
*.lock

# Dependency caches
**/libs/
.caches/